@model ClientLoginModel
<h2>Login</h2>
@using (Html.BeginForm("Login", "Clients", FormMethod.Post))
{
    @Html.ValidationMessage("Form", new { @class = "text-danger" })
    @Html.AntiForgeryToken()
    <div class="form-group row">
        @Html.LabelFor(model => model.Username, new { @class = "col-sm-2 col-form-label" })
        <div class="col-sm-10">
            @Html.TextBoxFor(model => model.Username, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Username, null, new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group row">
        @Html.LabelFor(model => model.Password, new { @class = "col-sm-2 col-form-label" })
        <div class="col-sm-10">
            @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Password, null, new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-10 offset-2">
            <input type="submit" class="btn btn-primary" value="Log in" />
        </div>
    </div>
}